<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiccvcgHntl7i1U-nIpoNf8uP3sT0vcCg</string>
	<key>GCM_SENDER_ID</key>
	<string>304275998023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.witwire</string>
	<key>PROJECT_ID</key>
	<string>witwire-ebf8e</string>
	<key>STORAGE_BUCKET</key>
	<string>witwire-ebf8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304275998023:ios:c60de58d65b2a73d70f862</string>
</dict>
</plist>